<div class="d-flex flex-column justify-content-center w-100 my-4">
    <div class="container">

        <button class='btn btn-primary' style="width: 10vw;">Iniciar nueva orden</button>
        <div class="container border border-primary align-items-center p-4 my-4">
            <div class="container mx-auto w-50">
                <label for="">Numero de orden:</label>
                <input class="form-control" type="text">
            </div>
            <div class="container w-50 justify-content-center my-4">
                <div class="d-flex flex-row justify-content-between">

                    <div class="dropdown align-self-center">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Modelo
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>

                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Color
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>

                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Num
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="d-flex">
            <button class='btn btn-primary btn-sm' style="width: 10vw;">Crear</button>
            <button class='btn btn-primary btn-sm ml-auto' style="width: 10vw;">Salir</button>
        </div>
    </div>
</div>