<div class="container justify-content-center mt-5 pt-5">
    <h5 style="color:floralwhite"> Usuario no identificado, por favor autentíquese</h5>
    <button asp-controller="Usuarios"
            asp-action="Autenticacion"class='btn btn-primary btn-sm ml-auto' style="width: 10vw;">Autenticarse</button>
    
</div>